.contact{
    width: 60%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    text-align: center;
    gap: 10px;
}
.contact h3{
    font-size: 2rem;
}
.contact p{
    opacity: 0.5;
    width: 60%;
    margin: 15px auto 30px auto;
}
.contact input,.contact button{
    width: 80%;
    padding: 10px 15px;
    border: 0;
    outline: 0;
    border-radius: 5px;
}
.contact input{
    border: 1px solid gray;
}
button {
    background-color: #0c0c31;
    color: white;
}
@media  screen and (max-width: 992px) {
    .contact{
        width: 90%;
    }
}