<header>
    <h1>
        HBSales
    </h1>
    <nav [class.display]="isClicked">
        <ul>
            <li><a routerLink="">Home</a></li>
            <li><a routerLink="about">About</a></li>
            <li><a routerLink="contact">Contact</a></li>
        </ul>
    </nav>
    <i class="fa-solid fa-bars" (click)="toggleMenu()"></i>
</header>
<router-outlet/>
<footer>
    <div>
        <h2>Address</h2>
        <ul>
            <li>15th Louis St, London 92382, Eng</li>
            <li>25 999-345-10800</li>
            <li>Info&#64;Housesales.Com</li>
        </ul>
    </div>
<div>
    <h2>Our Services</h2>
    <ul>
        <li>Buy House</li>
        <li>Rent House</li>
        <li>Sell House</li>
    </ul>
</div>
<div>
    <h2>Our Company</h2>
    <ul>
        <li>Management</li>
    <li>Get In Touch</li>
    <li>Reporting</li>
</ul>
</div>
<h2>HBSales</h2>
</footer>