<main>
    <div class="landing">
   <div class="info">
    <h2>
        We'll build house of your dream
    </h2>
    <p>We have 9000 more review and our customers trust on out property and quality products.</p>
    <div>
        <button>Buy</button>
        <button>Explore </button>
    </div>
   </div>
   <div class="img-cont">
    <img src="Home.png" alt="home">
   </div>
    </div>
    <div class="service">
        <div class="info">
           <h2>We make it easy for tenants and landlords</h2> 
           <p>
            Listing are updated continuously so you won't miss out on homes that just hit market until you find your perfect home.
           </p>
        </div>
        <div class="img-cont">
<img src="sec21.jpg" alt="img">
        </div>
    </div>
    <div class="service service2">
        <div class="img-cont">
            <img src="sec2.jpg" alt="img">
                    </div>
        <div class="info">
           <h2>Match with the best agent</h2> 
           <p>
            Our verified partner Agents are local experts who earn an average of 4.8/5 stars from buyers and sellers.
           </p>
        </div>
    </div>
    <div class="contact-link">
        <h3>
            Contact us to buy property
        </h3>
        <p>It is our commitment to ensure a pro
            fessional and enjoyable new home buying experience for you. If you want to get a home to
            start living as a family in an area that you love click the button below</p>
            <button><a routerLink="contact">Get In Touch</a></button>
    </div>
</main>
